.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: 3px solid #000;
  cursor: pointer;
  position: relative;
}

.cell:hover {
  background-color: #f0f0f0;
}

.cross:hover {
  background-color: white;
}

.circle:hover {
  background-color: white;
}

.cross::before {
  content: "\00d7";
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.circle::before {
  content: "\25CB";
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.dark .game, .dark .cell, .dark .cell:hover, .dark .cross:hover, .dark .circle:hover {
  background-color: #333;
  color: #fff;
  border-color: #777; 
}

.dark .cell {
  border-color: #555;
}